.tmb {
    width: 50%;
  }
  .tmb_img {
    width: 100%;
    height: auto;
  }
  .tmb_img:hover {
    cursor: pointer;
  }
  .popup {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.3s, transform 0s 0.3s;
  }
  .popup__btn {
    display: block;
    z-index: 13;
    position: absolute;
    top: 1vh;
    right: 1vh;
    width: 5vh;
    height: 5vh;
    cursor: pointer;
  }
  .popup__btn::before,
  .popup__btn::after {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background-color: #fff;
    content: '';
  }
  .popup__btn::before {
    transform: rotate(45deg);
  }
  .popup__btn::after {
    transform: rotate(-45deg);
  }
  .popup__btnarea {
    z-index: 12;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .popup__img {
    z-index: 11;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
  }
  .popup__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked ~ .popup {
    transform: scale(1);
    opacity: 1;
    transition: opacity 0.3s;
  }
        body{
          margin: 20px;
        }
        .hachi-maru-pop-regular {
          font-family: "Hachi Maru Pop", cursive;
          font-weight: 400;
          font-style: normal;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f4f4f4;
        }
        .subtitle{
          color:rgb(4, 158, 224);
          font-size: 3em;
          background-color:#bce2e8
        }
        .momota{color:rgb(224, 70, 4);}
        .sayaka{color:rgb(239, 60, 138);}
        .shiori{color:rgb(231, 231, 16);}
        .reni{color:rgb(229, 8, 240);}
  
  
        .table_design08 {
            border-collapse: collapse;
            table-layout: fixed;
            width: 100%;
            max-width: 700px;
            text-align: center;
          }
          .table_design08 th, .table_design08 td {
            border: 2px solid #d2e8f1;
            padding: 1em;
          }
          .table_design08 thead th {
            background-color: #4d9bc1;
            color: #fff;
            border: 2px solid #4d9bc1;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
          }
          .table_design08 thead th:last-of-type {
            border-right: 2px solid #4d9bc1;
          }
          .table_design08 tbody th {
            color: #4d9bc1;
            font-weight: bold;
            text-align: center;
          }
  
        @media screen and (max-width: 787px) {
          .table_design08 {
            text-align: left;
          }
          .table_design08 thead {
            display:none;
          }
          .table_design08 th, .table_design08 td {
            display: block;
            border: 0;
            border-bottom: 2px solid #e6f1f6;
          }
          .table_design08 tbody th{
            background: #4d9bc1;
            color:#fff;
          }
          .table_design08 td::before{
            content: attr(data-label);
            color: #4d9bc1;
            font-weight: bold;
            display: inline-block;
            width: 20%;
            min-width: 4em;
          }
        }
  
        @media (min-width: 200px) {
  
          ul.mokuji li {
            background-image: url(./z.png);
            background-position: top left;
            background-repeat: no-repeat;
            background-size:  auto 10px;
            padding-left: 30px;
            line-height:20px;
          }
  
          .title{
            color:rgb(4, 158, 224);
            font-size: 1em;
            background-color:#bce2e8
          }
          #target {
              position: relative;
              overflow: hidden;
              z-index: 0;
          }
          #target:before {
              background-attachment: fixed;
              content: '';
              background-image: url('ecd5070f0d425d15021fdcaecbc32fb7.jpg');
              position: absolute;
              top: -3px;
              bottom: -3px;
              left: -3px;
              right: -3px;
              filter: blur(3px);
              z-index: -1;
          }
          .container{
            display: flex;
            width: 600px;
            flex-direction: column;
          }
          .item {
            color: #fff;
            margin: 10px;
            padding: 10px;
          }
        }
  
        @media (min-width: 800px) {
  
          ul.mokuji li {
            background-image: url(./z.png);
            background-position: top left;
            background-repeat: no-repeat;
            background-size:  auto 20px;
            padding-left: 30px;
            line-height:20px;
          }
          .title{
            color:rgb(4, 158, 224);
            font-size: 5em;
            background-color:#bce2e8
          }
          #target {
              position: relative;
              overflow: hidden;
              z-index: 0;
          }
          #target:before {
              background-attachment: fixed;
              content: '';
              background-image: url('Profile_PCimage-scaled.jpg');
              position: absolute;
              top: -3px;
              bottom: -3px;
              left: -3px;
              right: -3px;
              filter: blur(3px);
              z-index: -1;
          }
          .container{
            display: flex;
            width: 800px;
            flex-direction: row;
          }
          .item {
            color: #fff;
            margin: 10px;
            padding: 10px;
          }
        }
        p {
          border-width: 1px 4px 8px 12px;
          border-style: solid;
          padding: 30px;
        }
        .rate {
          position: relative;
          display: inline-block;
          width: 150px;
          height: 30px;
          font-size: 30px;&::before,
          &::after {
          position: absolute;
          display: inline-block;
          height: 30px;
          content: ‘★★★★★’;
          line-height: 30px;
          }&::before {
          color: #c4c4c4;
          }
          &::after {
          overflow: hidden;
          width: 105px;
          color: #ffcf32;
          }
          }
  
          .rate-wrap {
          display: flex;
          width: 330px;
          align-items: center;
          justify-content: space-between;
          padding: 5px;
          border: 1.5px solid #e8d8b0;
          margin: 20px auto 0;
          font-weight: bold;
          }
  
  
        .star5_rating{
          position: relative;
          z-index: 0;
          display: inline-block;
          white-space: nowrap;
          color: #CCCCCC; /* グレーカラー 自由に設定化 */
          /*font-size: 30px; フォントサイズ 自由に設定化 */
        }
  
        .star5_rating:before, .star5_rating:after{
            content: '★★★★★';
        }
  
        .star5_rating:after{
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            overflow: hidden;
            white-space: nowrap;
            color: #ffcf32; /* イエローカラー 自由に設定化 */
        }
  
        .star5_rating[data-rate="5"]:after{ width: 100%; } /* 星5 */
        .star5_rating[data-rate="4.5"]:after{ width: 90%; } /* 星4.5 */
        .star5_rating[data-rate="4"]:after{ width: 80%; } /* 星4 */
        .star5_rating[data-rate="3.5"]:after{ width: 70%; } /* 星3.5 */
        .star5_rating[data-rate="3"]:after{ width: 60%; } /* 星3 */
        .star5_rating[data-rate="2.5"]:after{ width: 50%; } /* 星2.5 */
        .star5_rating[data-rate="2"]:after{ width: 40%; } /* 星2 */
        .star5_rating[data-rate="1.5"]:after{ width: 30%; } /* 星1.5 */
        .star5_rating[data-rate="1"]:after{ width: 20%; } /* 星1 */
        .star5_rating[data-rate="0.5"]:after{ width: 10%; } /* 星0.5 */
        .star5_rating[data-rate="0"]:after{ width: 0%; } /* 星0 */
        ul.mokuji {
          list-style:none;
        }
        a {
          color: skyblue;
          text-decoration: underline; /* 下線を追加 */
          font-size: large;
        }
        a:hover {
          text-decoration: underline; /* ホバー時も下線を維持 */
        }
        .discography-table {
            width: 100%;
            border-collapse: collapse;
        }
  
        .discography-table, .discography-table th, .discography-table td {
            border: 1px solid black;
        }
  
        .discography-table th, .discography-table td {
            padding: 8px;
            text-align: left;
        }
  
        .discography-table th {
            background-color: #f2f2f2;
        }
        .js-scrollable td,
        .js-scrollable th {
            white-space: nowrap;
            background-color: transparent;
        }
        .js-scrollable table {
            margin-bottom: 0;
        }
        .js-scrollable {
            margin-bottom: 30px;
        }